In [1]:
import pandas as pd

In [5]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [6]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [7]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [13]:
# ZMIANA NAZWY KOLUMNY - SPOSOB 1: Zmiana pojedynczej nazwy kolumny

ufo.rename(columns = {'Colors Reported':'Colors_Reported'}, inplace=True)

In [14]:
ufo.head()

                   City Colors_Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [15]:
# ZMIANA NAZWY KOLUMNY - SPOSOB 2: Stworzenie listy do podmiany

nazwy_kolumn = ['Miasta', 'Kolory','Kształt','Stan','Czas']
ufo.columns = nazwy_kolumn

In [16]:
ufo.head()

                 Miasta Kolory   Kształt Stan             Czas
0                Ithaca    NaN  TRIANGLE   NY   6/1/1930 22:00
1           Willingboro    NaN     OTHER   NJ  6/30/1930 20:00
2               Holyoke    NaN      OVAL   CO  2/15/1931 14:00
3               Abilene    NaN      DISK   KS   6/1/1931 13:00
4  New York Worlds Fair    NaN     LIGHT   NY  4/18/1933 19:00

In [19]:
# ZMIANA NAZWY KOLUMNY - SPOSOB 3: Zmiana nazw kolumn podczas ladowania DataFrame

ufo = pd.read_csv('http://bit.ly/uforeports', names=nazwy_kolumn, header=0)

In [20]:
ufo.head()

                 Miasta Kolory   Kształt Stan             Czas
0                Ithaca    NaN  TRIANGLE   NY   6/1/1930 22:00
1           Willingboro    NaN     OTHER   NJ  6/30/1930 20:00
2               Holyoke    NaN      OVAL   CO  2/15/1931 14:00
3               Abilene    NaN      DISK   KS   6/1/1931 13:00
4  New York Worlds Fair    NaN     LIGHT   NY  4/18/1933 19:00

In [23]:
# ZMIANA NAZWY KOLUMNY - SPOSOB 4: Zmiana nazw kolumn zbiorowo

ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.columns = ufo.columns.str.replace(' ', '_')

In [24]:
ufo.head()

                   City Colors_Reported Shape_Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00